@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section, video {
  display: block;
}

html {
  overflow-y: scroll;
  font-family: YuMincho, '游明朝', serif;
  font-size: 14px;
  line-height: 1.42857;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

input, textarea {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

a:focus {
  outline: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*/
  /*/
  height: auto;
  overflow: hidden;
  /**/
}

.both {
  clear: both;
}

.inline_block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

a, a:hover {
  text-decoration: none;
}

a, a:hover {
  transition: 0.3s;
}

body {
  margin: 0;
  position: relative;
  display: block;
  width: 100%;
  height: 1024px;
  padding: 57px;
  background: url("../images/bg.png") no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}

.wrap {
  width: 654px;
  min-width: 654px;
  display: block;
  position: absolute;
  z-index: 0;
  top: 57px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 auto;
  background: #fff;
  padding: 62px;
  border: 1px solid #231815;
  box-sizing: border-box;
}

.wrap:after {
  content: "";
  position: absolute;
  top: 1%;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  width: 98%;
  height: 98%;
  display: block;
  border: 1px solid #231815;
}

.wrap h2 img {
  display: block;
  width: 163px;
  margin: 0 auto;
}

.wrap h3.tit_1 {
  margin: 90px 0 0;
}

.wrap h3.tit_1 img {
  width: 363px;
  display: block;
}

.wrap h3.tit_1:after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #231815;
  margin: 5px 0 0;
}

.wrap .js-bigname {
  position: relative;
  z-index: 100;
  border: none;
  background: none;
  width: 100%;
  margin: 5px 0 0;
}

.wrap h3.tit_2 {
  margin: 90px 0 0;
}

.wrap h3.tit_2 img {
  width: 167px;
  display: block;
}

.wrap h3.tit_2:after {
  content: "";
  display: block;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #231815;
  margin: 5px 0 0;
}

.wrap #area-show-data canvas {
  width: 400px;
  margin: 90px auto 0;
}

.wrap #area-show-data table {
  width: 100%;
  height: 260px;
  margin: 40px 0 0;
  background: url("../images/grid.png") top left no-repeat;
  background-size: 528px;
}

.wrap #area-show-data table .js-tsumenoaka-data {
  box-sizing: border-box;
  display: block;
  margin: 40px 0 0 180px;
}

.wrap #area-show-data table .js-tsumenoaka-data tr td {
  width: 120px;
  padding: 12px 0 13px 38px;
}

.wrap #area-show-data p {
  font-size: 12px;
  text-align: right;
  color: #666;
  line-height: 24px;
}

.wrap .js-twitter-id {
  position: relative;
  z-index: 100;
  margin: 5px 0 0;
  width: 100%;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.wrap button {
  position: relative;
  z-index: 100;
  border: 1px solid #231815;
  background: none;
  display: block;
  margin: 90px auto 0;
  padding: 10px 15px;
}

.wrap button img {
  display: block;
  width: 76px;
}

.loader {
  display: none;
  position: fixed;
  background: rgba(200, 245, 200, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  color: #ffffff;
  font-size: 20px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
